[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = https://github.com/hlissner/doom-emacs
[submodule "tmux"]
	path = tmux
	url = https://github.com/gpakosz/.tmux
[submodule "bin/kvm"]
	path = bin/kvm
	url = git@github.com:ionlights/kvm
[submodule "bin/algo-git"]
	path = bin/algo-git
	url = git@github.com:trailofbits/algo
