!bin

hosts
!hosts.gpg
*.pem

configs/git/config
configs/git/_ignores

configs/emacs

configs/nvim/plugged

configs/zsh/history
configs/zsh/antibody_*
configs/zsh/.zcompdump*
!configs/zsh/antibody_plugins.txt
