[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = https://github.com/hlissner/doom-emacs
[submodule "tmux"]
	path = tmux
	url = https://github.com/gpakosz/.tmux
[submodule "_bin/kvm"]
	path = _bin/kvm
	url = git@github.com:ionlights/kvm
[submodule "_bin/algo-git"]
	path = _bin/algo-git
	url = git@github.com:trailofbits/algo
